*{
  padding: 0%;
  margin: 0%;
}
body{
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

a{
  text-decoration: none;
  color: inherit;
}

.navbar{
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 42% 58%;
  background-color: white;
  width: 97vw;
  height: 11vh;
  margin: 3.5vh 1.5vw;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

.quote{
  border-left: 1px solid black;
  padding: 2vh;
  font-size: large;
}

.nav_container_1{
  padding-left: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.nav_container_1 a{
  padding-right: 3%;
}

.nav_container_2{
  padding-right: 6%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_page, .fa-magnifying-glass{
  padding:2%;
  margin: 0% -3%;
  font-size: 16px;
  text-decoration:none;
  color: black;
  font-weight:500;
}

.nav_page:hover{
  color: white;
  background-color: blue;
  padding:2%;
}
.fa-magnifying-glass:hover{
  background-color: blue;
  color: white;
  padding:2%;
}

.container {
  position: relative;
  width: 100vw;  
  height: 80vh; 
  overflow: hidden;
}
.main_bg-image{
  position: absolute;
  background-image: url(/assets/images/main_bg.webp);
  background-size: cover;
  border: transparent;
  height: 80vh;
  width: 100vw;
  transition: transform 3s ease, filter 1.5s ease;
}
.container:hover .main_bg-image {
  transform: scale(1.05);
  filter: brightness(65%);
}

.main_frame{
  position:absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.main_frame_text1{
  color: white;
  font-size: 3.5vh;
}
.main_frame_text2 {
  color: white;
  font-size: 8vh;
  padding-bottom: 4vh;
  font-weight: 600;
}
.main_frame_button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 11vw;
  color: white;
  font-weight: 700;
  border: 2px solid white;
}

.main_frame_button:hover{
  background-color: white;
  color: black;
}

.container-2{
  text-decoration:none;
  position: relative;
  width: 100vw;  
  height: 100vh; 
  overflow: hidden;
}

.main_frame_2{
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  gap: 3px;
  margin-top:3px ;
  margin-bottom:3px ;
}


.main_frame_2_content{
  position: relative;
  top: 62%;
  left: 10%;
}

.main_frame_2_content p{
  text-decoration: none;
}
.main_frame_2_text1{
  color: white;
  font-size: 3.5vh;
}
.main_frame_2_text2{
  text-decoration: none;
  color: white;
  width: 70%;
  font-size: 6vh;
  padding-top: 1.5vh;
  padding-bottom: 4vh;
  font-weight: 400;
}
.main_frame_2_button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 11vw;
  color: white;
  font-weight: 700;
  border: 2px solid white;
}
.main_frame_container{
  position: relative;
  overflow: hidden;
  height: 40vh;
  height: 100%;
  width: 100%;
}

.main_frame_container:hover .main_frame_2_bg-image-1, 
.main_frame_container:hover .main_frame_2_bg-image-2{
  transform: scale(1.05);
  filter: brightness(65%);
  transform-origin: center;
}


.main_frame_2_bg-image-1{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/assets/images/main_frame_2_image_1.webp);
  background-size: cover;
  height: 100vh;
  width: 50vw;
  transition: transform 3s ease, filter 1.5s ease;
  z-index: -1;
}

.main_frame_2_bg-image-2{
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(/assets/images/main_frame_2_image_2.webp);
  background-size: cover;
  height: 100vh;
  width: 50vw;
  transition: transform 3s ease, filter 1.5s ease;
  z-index: -1;
}

.main_frame_2_button:hover{
  background-color: white;
  color: black;
}




.frame_4{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  background-color: #262626;
}

.frame_4_container:nth-child(1){
  width: 30vw;
  height: 100%;
}

.frame_4_container:nth-child(2) {
  width: 70vw;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.frame_4_content{
  margin-left: 5vw;
  margin-top: 4vh;
  margin-right:2vw ;
}

.frame_4_heading{
  color: white;
  font-size: 6vh;
  font-weight: 500;
  margin-top: -1vh;

}

.frame_4_sub_heading{
  color: white;
  font-size: 2.5vh;
  margin-bottom: 4vh;
}



.slider {
  display: flex;
  gap: 1vw;
  width: 100%;
  height: 60%;
  margin-top:-25vh ;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  min-width: 17vw;
  max-width: 17vw;
  width: 17vw;
  height: 100%;
  overflow: hidden;
  scroll-snap-align: start;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 1.5s ease-out, filter 1.5s ease;
  object-fit: cover;
  z-index: 0;
}

.background-video{
  width: 100%;
  height: 100%;
  transition: transform 1.5s ease-out, filter 1.5s ease;
  background-size: cover;
  z-index: -1;
}
.slider :hover .background-video{
  transform: scale(1.05);
  filter: brightness(65%);
  transform-origin: center;
}

.slide:hover .background-video{
  transform: scale(1.05);
  filter: brightness(65%);
}

.slide_text {
  position: absolute;
  font-size: 2vh;
  font-weight: 600;
  padding: 10px;
}

.slider_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-200%);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 3vh;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.slider_arrow:hover {
  background: rgba(255, 255, 255, 0.5);
}

.left {
  left: 1vw;
}

.right {
  right: 1vw;
}

.content_frame{
  height: 33vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "BMW Type Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.heading{
  font-size: 8vh;
  font-weight: 100px;
}

.sub-heading{
  font-size: 2.5vh;
  font-weight: 600;
  margin: 5vh;
}

.sub-heading i{
  padding-right: 1vw;
}

.frame_5_container{
  display: grid;
  grid-template-columns: repeat(3, 33.33vw);
  grid-template-rows: repeat(12, 38vh);
  gap: 3px;
  margin-top: 3px;
}

.frame_5_content{
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.frame_5_container a:nth-child(1){
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.frame_5_container a:nth-child(8){
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
}

.frame_5_container a:nth-child(13){
  grid-row-start: 7;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
}

.frame_5_container a:nth-child(20){
  grid-row-start: 10;
  grid-row-end: 12;
  grid-column-start: 2;
  grid-column-end: 4;
}

.frame_5_bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 3s ease, filter 1.5s ease;
}

.frame_5_content:hover .background-video {
  transform: scale(1.05);
  filter: brightness(65%);
}


.frame_5_bg-image{
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  transition: transform 3s ease, filter 1.5s ease;
  z-index: -1;
}
.frame_5_container a:hover .frame_5_bg-image {
  transform: scale(1.05);
  filter: brightness(65%);
  transform-origin: center;
}

.frame_5_container a:hover #special {
  transform: scale(1.05);
  filter: brightness(110%);
  transform-origin: center;
}

.main_frame_5_text{
  position: absolute;
  bottom: 10%;
  left: 2.5vw;
  color: white;
}

.main_frame_5_text1{
  font-size: medium;
  font-weight: 700;
}
.main_frame_5_text2{
  font-size: medium;
}

/* Mobile (≤ 576px) */
@media screen and (max-width: 576px) {
    body {
      font-size: 14px;
    }
  }
  

/* Tablet (577px – 768px) */
@media screen and (min-width: 577px) and (max-width: 768px) {
    body {
      font-size: 16px;
    }
  }
